@font-face {
    font-family: 'Minecraft';
    src: url(static/Minecraft.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Minecraft','Monospace', 'Verdana';
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    scrollbar-width: thin;
    letter-spacing: 0.1em;
}


input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]::-webkit-outer-spin-button, 
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; /* For Chrome, Safari, and Opera */
    margin: 0; /* Remove margin for better layout */
}

.page {
    position: relative;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(to bottom, rgb(0, 0, 0), rgb(231, 164, 76)); */
    background-image: url(static/Overworld_background.png);
    background-size: cover;
    overflow: hidden;
}

.page .big-header {
    position: absolute;
    bottom: -100%;
    font-size: 150px;
    color: rgb(255, 255, 255);
    transition: .5s;
}

.page .big-header.used {
    bottom: 48px;
}

.toggle-btn {
    position: absolute;
    top: 24px;
    left: 50%;
    transform: translateX(-50%); /* Adjust for half the width of the element */
    font-size: 24px;
    color: rgb(255, 255, 255);
    z-index: 2;
    cursor: pointer;
}

.history-button {
    position: absolute;
    right: 24px;
    bottom: 24px;
    color: white;
    z-index: 2;
}

@keyframes bigBall {
    0%, 100% {
        transform: translateX(0) translateY(0);
    }
    25% {
        transform: translateX(12) translateY(-12);
    }
    50% {
        transform: translateX(-8px) translateY(-8px);
    }
    75% {
        transform: translateX(0) translateY(8px);
    }
}

.card {
    position: absolute;
    display: flex;
    /* border-radius: 20px; */
    min-height: 400px;
    min-width: 400px;
    background: rgba(255, 255, 255, .25);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    transition: .5s;
    z-index: 10;
    padding: 1.5rem;
}

nav {
    position: relative;
}

/* .operator-box {
    position: relative;
    padding: 32px;
    text-align: center;
    font-size: 24px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 10;
} */

/* .operator-get {
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 50%;
    transition: .5s;
} */

/* .operator-get::after {
    position: absolute;
    content: '';
    top: 50%;
    right: -22px;
    transform: translateY(-50%);
    width: 22px;
    height: 2px;
    background: rgb(255, 255, 255);
} */

/* .ghost-circle {
    border: 0px solid rgba(255, 255, 255, .3);
} */

/* .ghost-circle::after {
    background: rgba(255, 255, 255, .3);
} */

/* .line {
    position: absolute;
    right: 0;
    height: 100px;
    width: 0px;
    background: rgb(255, 255, 255);
} */

aside {
    width: 100%;
}

aside header {
    position: relative;
    padding-bottom: 24px;
    gap: 16px;
}

aside header .ordo-title {
    display: flex;
    justify-content: center;
}

aside header .set-matrix {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 2px;
}

.content {
    padding-top: 20px;
    /* max-height: 405px; */
    /* overflow-y: scroll; */
}

.content.det {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content::-webkit-scrollbar {
    width: 0;
}

.prompt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.prompt.hide {
    display: none;
}

.card label {
    width: max-content;
    font-size: 14px;
    color: rgb(255, 255, 255);
}

.card input {
    width: 45px;
    height: 45px;
    font-size: 21px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    box-shadow:  0 0 5px rgba(0, 0, 0, .025);
    /* border-radius: 8px; */
    text-align: center;
    color: rgb(255, 255, 255);
}

.card input::-webkit-inner-spin-button {
    appearance: none;
}

/* .ordo-operator, .used-operator {
    margin-top: 16px;
    font-size: 14px;
    color: rgb(255, 255, 255);
} */

/* .used-operator {
    font-size: 20px;
} */

.used-operator.hide {
    display: none;
}

.v-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
}

/* set ordo, lihat hasil */
button {
    /* margin-top: 16px; */
    padding: 8px;
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    box-shadow:  0 0 5px rgba(0, 0, 0, .025);
    /* border-radius: 8px; */
    font-size: 14px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    z-index: 1000;
}

.row {
    display: flex;
    margin-top: 16px;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

/* bentuk matriks */
.matrixContainer {
    display: grid;
    margin-top: 8px;
    gap: 3px;
    width: fit-content;
    height: fit-content;
}

/* hilangkan matriks B */
.matrix-B.hide {
    display: none;
}

/* hasil matriks general */
.result {
    display: flex;
    width: max-content;
    height: max-content;
    min-height: 250px;
    min-width: 250px;
    padding: 24px;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

/* hasil matriks determinan */
.result .matrix-input.det {
    display: flex;
    justify-content: center;
    align-content: center;
}

/* ukuran font hasil */
.result label {
    font-size: 20px;
}

/* .close-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
} */

.close-btn svg {
    width: 25px;
    height: 25px;
    fill: rgb(255, 255, 255);
}

.result input.hide {
    display: none;
}

.result input.det {
    min-width: 130px;
    min-height: 130px;
    font-size: 48px;
}

.matrix-container table {
    grid-area: matrixTable;
}

.matrix-container button {
    margin-top: 1rem;
    grid-area: matrixButton;
}

.matrix-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "   matrixTable   "
    "   matrixButton   "
    ;
    justify-content: center;
    align-items: center;
}

.modal-bg {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    overflow: hidden; /* Prevents content overflow */
    opacity: 0;
    transition: all 0.25s;
}

/* To show the modal bg */
.modal-bg-show {
    opacity: 1;
    z-index: 2000;
}

.modal-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modal-container-box {
    padding: 1.5rem;
    /* min-height: 35vh; */
    background-color: white;
    /* border-radius: 1rem; */
}

.modal-container-box > *:not(hr) {
    padding: 1rem 0;
}

.modal-button {
    display: flex;
    justify-content: flex-end;
}

.modal-button a {
    color: #4f4e4f;
    /* border-radius: 2000px; */
    background-color: #c6c6c6;
    border: 3px #4f4e4f solid;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

.modal-box table,.modal-box th,.modal-box td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
}

.modal-box td {
    padding: 1rem;
}

.modal-box caption {
    padding-bottom: 1rem;
}

.modal-box .lTable {
    grid-area: lTable;
}

.modal-box .uTable {
    grid-area: uTable;
}

.modal-box p {
    grid-area: pModal;
}

.modal-box {
    display: grid;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: repeat(2,minmax(auto,1fr));
    grid-template-areas: 
    "   lTable       uTable   "
    "   pModal      pModal  "
    ;
    gap: 1rem;
    max-width: 80vw;
    overflow: auto;
}

.modal-bg-history {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    overflow: hidden; /* Prevents content overflow */
    opacity: 0;
    transition: all 0.25s;
}

.modal-bg-history-show {
    opacity: 1;
    z-index: 2000;
}

.modal-container-history {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.modal-container-box-history {
    padding: 1.5rem;
    /* min-height: 35vh; */
    background-color: white;
    /* border-radius: 1rem; */
}

.modal-container-box-history > *:not(hr) {
    padding: 1rem 0;
}

.modal-button-history {
    display: flex;
    justify-content: flex-end;
}

.modal-button-history a {
    color: #4f4e4f;
    /* border-radius: 2000px; */
    background-color: #c6c6c6;
    border: 3px #4f4e4f solid;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
}

.modal-box-history {
    max-height: 70vh;
    max-width: 70vw;
    overflow: auto;
}

.modal-box-history table,.modal-box-history th,.modal-box-history td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    text-align: center;
}

.modal-box-history td {
    padding: 1rem;
}

.modal-box-history caption {
    padding-bottom: 1rem;
}

.history-table {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-bridge {
    padding: 1rem 0;
}

@media(max-width: 1285px) {
    .page .big-header {
        font-size: 125px;
    }
    .page .big-header.used {
        bottom: 72px;
    }
}

@media(max-width: 855px) {
    .page .big-header {
        font-size: 72px;
    }
    .page .big-header.used {
        bottom: 54px;
    }
    .page img {
        transform: translateY(150px);
    }
}

@media(max-width: 755px) {
    .card {
        align-items: center;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .row {
        flex-direction: column;
        gap: 0;
    }
    .card input, .card.result input {
        font-size: 12px;
    }

    .result input.det {
        font-size: 48px;
    }
}

@media(max-width: 500px) {
    .operator-get {
        top: 22px;
    }
    .card {
        left: 16px;
        right: 16px;
        padding: 16px;
        min-width: 300px;
        justify-content: center;
    }
    aside {
        min-width: 261px;
        padding: 16px;
    }
    .operator-box {
        padding: 24px;
    }
    .operator-get::after {
        right: -15px;
        width: 15px;
    }
    .page .big-header {
        font-size: 48px;
    }
    .page .big-header.used {
        bottom: 9%;
    }
}

@media(max-width: 700px) {
    .page img {
        transform: translateY(145px);
    }
    .page .big-header.used {
        bottom: 6%;
    }
}

@media(max-height: 400px) {
    .toggle-btn {
        display: none;
    }
    .page .big-header {
        display: none;
    }
}
